.header-container {
    position: relative;
  }
  
  .header-container .header-menu {
    position: absolute;
    left: 0;
    top: 100px;
    letter-spacing: 1px;
    font-family: 'Syncopate', sans-serif;
    color: #626262;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .header-container .header-menu li {
    margin: 10px 0;
    list-style: none;
  }
  
  .header-container #header-text {
    font-size: 15vw;
    text-transform: uppercase;
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    color: white;
  }
  
  .lineParent {
    overflow: hidden;
  }
  
  .lineChildren {
    -webkit-transform: translate(0, 500px);
            transform: translate(0, 500px);
  }

ul {
    list-style: none;
}

  .social-icon li a {
  width: 42px;
  height: 42px;
  background: rgb(55, 53, 53);
  display: inline-flex;
  border-radius: 50%;
  margin-top: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(231, 226, 226, 0.594);
}

.social-icon li a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.054);
  border-radius: 50px;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon li a:hover::before {
  transform: scale(1);
  cursor: none;
}

.social-icon li a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
  filter: invert(100%);
}

.social-icon li a:hover img {
  filter: brightness(0) saturate(0%) invert(100%) hue-rotate(364deg);
  cursor: none;
}